<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <!-- bootstrap link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=DM+Sans:ital,wght@0,400;0,500;1,400&family=Lato:wght@300;400;700&family=Lobster&family=Merriweather&family=Montserrat:wght@200;400&family=Nunito&family=Pacifico&family=Poppins:wght@300&family=Roboto+Mono&family=Syne&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>



	<!-- <nav>
			<ul class="mainnav">
				<li class="nav-item">
					<a href="/" class="link style">Home</a>
				</li>
				<li class="nav-item">
					<a href=# class="link style">How to play</a>
				</li>
				<li class="nav-item">
					<a href="single.html" class="link style">Single player</a>
				</li>
				<li class="nav-item">
					<a href=# class="link style">Two players</a>
				</li>
				<li class="nav-item">
					<a href=# class="link style">Leader board</a>
				</li>
			</ul>
		</nav> -->



    <nav class="nav navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand link style" href="{{ url_for('/.main')}}">Pub Quiz</a>
		<button class="navbar-toggler link style" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon link style"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		  <div class="navbar-nav">
			<a class="nav-item nav-link link style" href="{{ url_for('/.main')}}">Home</a>
			<a class="nav-item nav-link link style" href="{{ url_for('/.how_to_play')}}">How to Play</a>
			<a class="nav-item nav-link link style" href="{{ url_for('/.single')}}">Single Player</a>
			<a class="nav-item nav-link link style" href="#">Two players	</a>
			<a class="nav-item nav-link link style" href="{{ url_for('/.leaderboard')}}">Leader board</a>

		  </div>
		</div>
	  </nav>

    <!-- Content Block -->
    {% block content %} {% endblock %}

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
  </body>
</html>
