{% extends "base.html"%}
{%block title%}
Categories
{% endblock %}

{% block content%}

    <div class="row">
        <div class="col-12">
            <h1>Pick a Category</h1>
            <form action='/category'id='CategoryForm' method='POST, GET'>
                <ul>
                {% for categories in cat %}
                
                    <li> 
                        {{categories}}<!-- <input type='radio' value='{{i}}' name='{{c}}' /> -->
                    </li>    
                
                {% endfor %}
                </ul>
                <p class="test">this is the {{categories}}</p>

                <input type="submit" value="submit" />
            </form>
        </div>
    </div>

{% endblock %}