{% extends "base.html"%}
{% block title %}
Score
{% endblock %}

{% block content %}

<div class = "score">
  <h3>Add Score</h3>
    <form id="ScoreForm" method="POST" action="{{ url_for('score.score') }}">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.nickname.label }}
        {{ form.nickname(size=20) }}
      </div>
      <div class="form-group">
        {{ form.score.label }}
        {{ form.score(size=10) }}
      </div>
      <div class="form-group">
        {{ form.submit }}
      </div>
    </form>
</div>

{% endblock %}
