{% extends "base.html"%}
{%block title%}
Quiz
{% endblock %}

{% block content%}


	<div class="intro">

                <h4>Question 1</h4>
                <p class="question">here is the question content</p>
                <button class="main-button answer">answer 1</button>
                <button class="main-button answer">answer 2</button>
                <button class="main-button answer">answer 3</button>
                <button class="main-button answer">answer 3</button>


    </div>





{% endblock %}
