{% extends "base.html"%}
{%block title%}
Quiz
{% endblock %}

{% block content%}


<div class="intro">
+	{% for question in questions %}
+
+	<div id="quest-{{loop.index}}" class="quest">
+		<h4>Question <span id="question-number">{{loop.index}}</span></h4>
+		<p class="question" id="question-content">{{question["question"]}}</p>
+		{% for answer in question["answers"] %}
+		<div id="answers-container">
+			<div class="answer">
+				<input type="radio" name="answer" value="0" class="main-button" />
+				<span>{{answer}}</span>
+			</div>
+		</div>
+		{% endfor %}
+	</div>
+	{% endfor %}

</div>





{% endblock %}
